<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<%= form_with(model: @recipe, url: recipes_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div  class="field">
      <%= form.label :preparation_time %>
      <%= form.number_field :preparation_time %>
    </div>
  
    <div  class="field">
      <%= form.label :cooking_time %>
      <%= form.number_field :cooking_time %>
    </div>
  
    <div  class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div  class="field">
      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>

    <div>
      <%= form.submit "Create Recipe" %>
    </div>
  <% end %>