<h2>Public Recipes</h2>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <div class="rec-name">
      <h1><%= link_to recipe.name, recipe_path(recipe) %></h1>
      <p>By <%= recipe.user.name %></p>
      <% if current_user == recipe.user || current_user.role == 'Admin' %>
            <%= form_with model: recipe, url: recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } do |form| %>
                <%= form.submit 'REMOVE', class: "btn-primary" %>
            <% end %>
        <% end %>
    </div>
    <div class="description">
      <p>Total food items: <%= recipe.foods.count %></p>
      <p>Total price: $<%= recipe.foods.sum(:price) %></p>
    </div>
  </div>
<% end %>