<!DOCTYPE html>
<html>
  <head>
    <title>YummyRecipesRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <img src="../../logo.jpg" alt="Logo" width="200px">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/recipes">RECIPES</a></li>
        <li><a href="/foods">FOODS</a></li>
        <li><a href="/public_recipes">PUBLIC RECIPES</a></li>
        <li><a href="/users/sign_in">LOGIN</a></li>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="error"><%= flash.now[:error] %></p>
    <%= yield %>
  </body>
</html>
